{% extends 'index.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}Creación de Cita{% endblock %}
    {% block extra %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos3.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos8.css' %}">
    <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script type="text/javascript" src="{% static 'js/formato.js' %}"> </script>
    {% endblock %}
</head>
<body>
    

<hr>

{% block content %}
<h1>Ingresar Incapacidad</h1>

<body>
    
    <form method="POST" action="" class="con">
        {% csrf_token %}
       <fieldset>
        <legend>Incapacidad</legend>
            {{form.as_p}}
            <button type="submit">Crear</button>
            <button type="reset">Borrar</button>
        
        </fieldset>
        
    </form>


{% endblock %}
</body>

{% block footer %}
    <footer>
        <h1><center>°SISMEDICA°</center></h1>
    </footer>
  
{% endblock footer %}
</body>
</html>