body{
    background-color: blueviolet;
    align-items: center;
}


form {
    margin: 0 auto;
    background-color:white;
    padding: 150px;
    color: black;
    border-radius: 10px;  
    width: 400px;
    height: 200px;
}
label{
    display: inline-block;

  }

input{

    display: inline;;
    margin: 10px;
    padding: 5px;
}